@import 'primer-css/index.scss';
@import 'codemirror/lib/codemirror';

@import 'scss/issue';

.ReactCodeMirror {
  width: 100%;
  height: 100%;

  > textarea { display: none; }
}

.code { flex: 1 1 0%; }
.cm-comment { color: $gray-500 !important; }

.CodeMirror {
  font-family: $mono-font;
  font-size: 12px;
  height: 100%;
}

.issue .CodeMirror {
  height: auto;
}

.header {
  position: relative;

  a {
    @include breakpoint(md) {
      position: absolute;
      top: calc(50% - 0.7em);
      right: $spacer-4;
    }
  }
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

